:root {
  /* Colors: */
  --main: #283459;
  --secondary: #5fcdd9;
  --card: var(--white);
  --light: #cacaca;
  --white: #fff;
  --black: #000;
  /* opacity: */
  --mainOp: 40, 52, 89;
  --secOp: 95, 205, 217;
  /* variabels: */
  --bs-gutter-x: 3.5rem;
  --border-radius: 1rem;
  --dir: 1;
}
[dir="ltr"] {
  --dir: -1;
}
@font-face {
  font-family: "DG Agnadeen";
  src: url("fonts/DGAgnadeen-Light.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DG Agnadeen";
  src: url("fonts/DGAgnadeen-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DG Agnadeen";
  src: url("fonts/DGAgnadeen-Bold.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DG Agnadeen";
  src: url("fonts/DGAgnadeen-ExtraBold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DG Agnadeen";
  src: url("fonts/DGAgnadeen-Heavy.ttf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
/* -------------------------------------------------- */
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  /* line-height: 1.8; */
  text-decoration: none;
  transition: 0.25s linear;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -ms-transition: 0.25s linear;
  -o-transition: 0.25s linear;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "DG Agnadeen", sans-serif;
  border-radius: 1.125rem;
  overflow-x: hidden;
  background: #fff;
  -webkit-border-radius: 1.125rem;
  -moz-border-radius: 1.125rem;
  -ms-border-radius: 1.125rem;
  -o-border-radius: 1.125rem;
}
[dir="rtl"] body {
  direction: rtl;
}
[dir="rtl"] [type="email"],
[type="number"],
[type="tel"],
[type="url"] {
  direction: rtl;
}
a {
  text-decoration: none;
  color: inherit !important;
}
ul {
  padding: 0rem;
  list-style: none;
  margin: 0;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.stroke-text {
  display: block;
  -webkit-text-stroke: 1px var(--main);
  color: transparent;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.63);
}
::-webkit-scrollbar-thumb {
  background: var(--light);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main);
}
/* selection */
::selection {
  color: var(--white);
  background-color: var(--secondary);
}

[dir="ltr"] [class*="-chevron"].bi::before,
[dir="ltr"] [class*="-arrow"].bi::before {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  font-size: 21px;
}

.Stars::before {
  content: "★★★★★";
  background: linear-gradient(
    -90deg,
    #ffb800 var(--percent),
    #b9b9b9 var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.owl-carousel .owl-stage {
  display: flex;
}

.owl-nav {
  display: flex;
  margin: auto;
  gap: 0.5rem;
  width: fit-content !important;
  z-index: 999999999999;
  margin-top: 1.5rem;
}
.owl-nav button {
  display: flex;
  width: 3.9375rem;
  height: 2.3125rem;
  padding: 0.40625rem 0rem !important;
  justify-content: center;
  align-items: center;
  border-radius: 1.875rem;
  background: #f7f7f7 !important;
  font-size: 1.35rem !important;
}

/* ------------- global --------------- */
.container-fluid {
  --bs-gutter-x: 3.5rem;
  padding-left: var(--bs-gutter-x);
  padding-right: var(--bs-gutter-x);
}
.scrollUp {
  position: fixed;
  bottom: 130px;
  inset-inline-end: 30px;
  z-index: 9;
}
.scrollUp.whatsapp {
  bottom: 60px;
}
.whatsapp i::after {
  height: 54px !important;
  width: 54px !important;
  top: calc(50% - 27px) !important;
  inset-inline-start: calc(50% - 27px) !important;
}
.scrollUp a i {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background: #0312276b;
  backdrop-filter: blur(18px);
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 30%);
  transition: 0.5s;
  z-index: 8708;
  font-size: 20px;
  width: 54px;
  height: 54px;
}
.scrollUp.whatsapp a i {
  background: #28d366;
  box-shadow: 0 0 20px 2px rgba(40, 211, 102, 0.8);
}
.link {
  position: absolute !important;
  inset: 0;
  z-index: 3 !important;
}
.span-2 {
  columns: 2;
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: transparent;
  z-index: 0;
  display: flex;
  justify-content: space-evenly;
}
.overlay .ln {
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}
.text-danger {
  margin-top: 5px;
  display: block;
  font-size: small;
}

.secTitle {
  color: var(--main);
  font-weight: 900;
  font-size: 2.5rem;
  margin: 0.7rem 0;
}
.secDesc {
  font-weight: 400;
  color: var(--main);
  font-size: 1.125rem;
}
.more {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  color: var(--main) !important;
  font-weight: 500;
}
.arrow-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px dashed var(--white);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 12px;
  margin-inline-start: -18px;
}
.arrow-more i {
  opacity: 0;
}
.main {
  color: var(--main) !important;
}
.bg-light-main {
  background: var(--mainOp) !important;
}
.secondary {
  color: var(--main) !important;
}
.bg-main {
  background: var(--main);
}
.main-btn,
.main-outline-btn {
  background: var(--main);
  color: var(--white) !important;
  padding: 0.975rem 1.25rem;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  /* width: fit-content !important; */
}
.main-outline-btn {
  background: transparent;
  color: var(--main) !important;
}

[class*="-btn"] * {
  position: relative;
  z-index: 2;
  font-weight: 500;
}

/* card */
.card {
  border-radius: 1.875rem;
  -webkit-border-radius: 1.875rem;
  -moz-border-radius: 1.875rem;
  -ms-border-radius: 1.875rem;
  -o-border-radius: 1.875rem;
  border: 1px solid #e5e7eb;
  height: 100%;
  overflow: hidden;
}

.card * {
  position: relative;
  z-index: 2;
}

.card:has(.card-header) {
  background: #f5f5f5;
}
.card .card-header {
  background: linear-gradient(180deg, #116795 0%, #013452 100%);
  color: var(--white);
  font-weight: 500;
}
.list ul {
  padding-inline-start: 1.5rem;
  list-style: disc;
}
.list ul li {
  color: #2a2a28 !important;
  font-size: 0.9375rem;
}
.cut-txt {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.whatsapp i::after {
  content: "";
  height: 22px;
  width: 22px;
  top: calc(50% - 11px);
  inset-inline-start: calc(50% - 11px);
  position: absolute;
  border: 3px solid #32f8bd9e;
  border-radius: 100%;
  box-shadow: 0 0 0 3px #32f8bd47;
  z-index: 2;
}
.social-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.social-icons a {
  width: 2.75rem;
  height: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main);
  border-radius: 50%;
  color: var(--secondary) !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
  overflow: hidden;
}
/* Ripple Out */
@keyframes ripple-out {
  100% {
    transform: scale(1.5);
    opacity: 0;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
}
@-webkit-keyframes ripple-out {
  100% {
    transform: scale(1.5);
    opacity: 0;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
}

/* top nav */
.top-nav {
  background: var(--main);
}
.top-nav .container-fluid {
  padding-block: 10px;
  font-size: 13px;
}
.top-nav .date-time,
.top-nav .contacts {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.top-nav .contacts a {
  color: #fff !important;
}
/* ---- navbar --- */
.navbar-wrapper {
  width: max-content;
  margin: auto;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
  padding-inline: 0.5rem;
  /* padding-block: 0.5rem; */
}
nav.navbar {
  padding: 0;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 2rem !important;
}

.navbar-nav {
  justify-content: space-evenly;
  margin: 0 2rem;
  gap: 1rem;
}
.navbar-light .navbar-brand img {
  width: 3.75rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  margin: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.navbar .nav-link {
  color: #2a2a28 !important;
  font-size: 0.875rem;
  padding-inline: 0 !important;
  position: relative;
}
.navbar .nav-link.active {
  color: var(--secondary) !important;
}
.navbar-nav li.separator:before {
  content: "|";
  padding: 0 8px;
  color: #fff;
}
.navbar .navbar-nav .nav-link:hover {
  color: var(--main) !important;
}
.navbar .navbar-nav .nav-link:hover::after {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.navbar .main-btn {
  min-height: 100%;
  background: var(--secondary) !important;
  color: var(--main) !important;
  height: 3.75rem;
  padding: 0.625rem 1.25rem;
}

/* ---- heroSec --- */
.heroSec {
  padding: 0.5rem;
}

.heroWrapper {
  border-radius: 1.125rem;
  background: url("../images/hero-bg.png");
  background-size: cover;
  -webkit-border-radius: 1.125rem;
  -moz-border-radius: 1.125rem;
  -ms-border-radius: 1.125rem;
  -o-border-radius: 1.125rem;
  padding: 3.75rem;
  padding-top: 10rem;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
}

.heroSec .hero-content {
  text-align: center;
  color: var(--white);
}
.heroSec .heroTitle,
.heroSec .heroDesc {
  font-size: 2rem;
  font-weight: 900;
}
.heroSec .download-app {
  margin-bottom: 7rem !important;
}
.heroSec .hero-image img {
  aspect-ratio: 7 / 5;
}

/* about section */

.about .card {
  background: #f7f7f7;
}
.about .card .card-body {
  padding: 2rem 1.5rem !important;
}

.breadcrumb-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 10rem 4rem;
}

.breadcrumb-icon,
.about .card .about-icon {
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: var(--secondary);
  width: 3.25rem;
  height: 3.25rem;
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumb-icon {
  background: var(--main);
}

.breadcrumb-icon i {
  font-size: 1.5rem;
  color: var(--white);
}
.breadcrumb-icon img,
.about .card .about-icon img {
  object-fit: contain;
}
.about .card .about-title {
  color: var(--main);
  font-size: 1.5rem;
  font-weight: 900;
}
.about .card .about-desc {
  color: #2a2a28;
  font-weight: 300;
  margin-bottom: 0;
}

.about .card:hover {
  background: var(--main);
}

.about .card:hover .about-title,
.about .card:hover .about-desc {
  color: var(--white);
}

/* features Section  */
.features .card {
  background: transparent;
}
.features .features_wrapper {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem 2rem;
}

.features .feature {
  grid-column: span 7;
  grid-row: span 1;
}

.features .features_wrapper .mobile-screen {
  grid-row: span 2;
  grid-column: span 4;
}

.features .owl-carousel::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: url("../images/iPhone-frame.svg");
  background-size: 100% 100%;
  z-index: -1;
  overflow: hidden;
}

.features .screen {
  width: calc(100% - 0.75rem);
  height: 100%;
  margin: auto;
  overflow: hidden;
}

.features .owl-carousel .owl-nav {
  position: absolute;
  bottom: -4rem;
  inset-inline: 0;
}

.features .screen img {
  object-fit: cover;
  max-width: 100%;
}
.features .screen img {
  mask-image: url("../images/iPhone-mask.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;

  -webkit-mask-image: url("../images/iPhone-mask.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;

  overflow: hidden;
}

/* pricing Section  */
.pricing .nav-pills {
  padding: 0.5rem 0.7rem;
  border-radius: 3.1875rem;
  background: #f7f7f7;
  flex-wrap: nowrap !important;
  overflow-x: auto;
  overflow-y: hidden;
  width: fit-content;
  margin: auto;
  max-width: 100%;
}

.pricing .nav-pills::-webkit-scrollbar {
  display: none;
}

.pricing .nav-pills .nav-link {
  color: var(--main);
  padding: 0.625rem 0.85rem;
  width: max-content;
}

.pricing .nav-pills .nav-link.active {
  background: var(--main);
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
  color: var(--white) !important;
}

.pricing .card {
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.pricing .card.special {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  border: 1.6px solid #5fcdd9;
}
.pricing .special .pricing-heading .pricing-icon {
  background: linear-gradient(
    90deg,
    #5fcdd9 0%,
    #5ccad6 12.5%,
    #5ac6d2 25%,
    #57c3cf 37.5%,
    #55c0cc 50%,
    #52bdc9 62.5%,
    #4fb9c5 75%,
    #4db6c2 87.5%,
    #4ab3bf 100%
  );
}
.pricing .pricing-heading .pricing-icon {
  display: flex;
  width: 4rem;
  height: 4rem;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  background: var(--main);
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.pricing .pricing-heading .pricing-icon img {
  object-fit: contain;
}
.pricing .pricing-title {
  font-size: 1.75rem;
  color: var(--main);
  font-weight: 700 !important;
}

.pricing .pricing-heading p {
  color: #6b7280;
  font-size: 0.9375rem;
}
.pricing .pricing-card {
  display: flex;
  flex-direction: column;
}

.pricing .price-value {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--main);
}
.pricing .duration {
  color: #6b7280;
  font-size: 1.125rem;
}

.feature-list li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.85rem;
  font-size: 0.9375rem;
  color: #464646;
}
.feature-list li::before {
  content: "\F26A";
  font-family: "bootstrap-icons";
  display: inline-flex;
  font-size: 1.25rem;
  color: var(--main);
}

.special .feature-list li::before {
  color: var(--secondary);
}

.pricing .card.special .main-btn,
.pricing .card:hover .main-btn {
  background: var(--secondary) !important;
  color: var(--main) !important;
}

.pricing .card:hover .main-btn * {
  color: var(--main) !important;
}

.feature-list li:hover {
  color: var(--main);
}
.pricing .pricing-card .main-btn {
  display: block;
  width: fit-content;
  background: #031227;
  border-color: inherit;
  margin: auto auto 0;
  font-size: 15px;
  font-weight: lighter;
  padding: 8px 22px;
  box-shadow: unset;
}
/*  */
.whatsapp i::after {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  -webkit-animation: ripple-out 1s infinite;
  animation: ripple-out 1s infinite;
}

/* -- testimonials -- */
.testimonials .owl-stage {
  padding-block: 3rem;
}
.testimonials .card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  border-radius: 1.875rem;
  transform: scale(0.9) rotate(7deg);
  -webkit-transform: scale(0.9) rotate(7deg);
  -moz-transform: scale(0.9) rotate(7deg);
  -ms-transform: scale(0.9) rotate(7deg);
  -o-transform: scale(0.9) rotate(7deg);
  border: 1px solid #f3f4f6;
}

.testimonials .owl-item.active.center .card {
  background: #f7f7f7;
  transition: 0.4s ease;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.testimonials .owl-item.active.center + .owl-item .card {
  transform: scale(0.9) rotate(-7deg);
  -webkit-transform: scale(0.9) rotate(-7deg);
  -moz-transform: scale(0.9) rotate(-7deg);
  -ms-transform: scale(0.9) rotate(-7deg);
  -o-transform: scale(0.9) rotate(-7deg);
}

.testimonials .testimonial-header {
  width: calc(100% - 4.75rem);
}
.testimonials .testimonial-txt {
  color: #2a2a28;
  font-weight: 400;
}

.testimonials .testimonial-image {
  width: 3.5rem;
  height: 3.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

/* -- FAQ -- */
.FAQ .accordion-item {
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
  border-radius: 1.25rem;
  border: 1px solid rgba(220, 217, 217, 0.5);
  background: #f7f7f7;
}

.FAQ .accordion-item:has(.accordion-button:not(.collapsed)) {
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
  background: url("../images/icons/faq_bg.svg") var(--main) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.FAQ .accordion-item:has(.accordion-button:not(.collapsed)) * {
  color: var(--white) !important;
}

.FAQ .accordion-item .accordion-body {
  background: transparent;
  /* color: var(--white); */
  padding: 0rem 1.65rem 1.25rem 1.65rem;
}

.FAQ .accordion-item .accordion-header {
  border-radius: 15px;
}

.FAQ .accordion-button {
  font-weight: 500;
  box-shadow: unset !important;
  background-color: transparent !important;
  padding: 1.85rem !important;
  color: var(--main) !important;
}

.FAQ .accordion-button:not(.collapsed) {
  color: #f7f7f7 !important;
}

.FAQ .accordion-button::after {
  --size: 1rem;
  width: var(--size);
  height: var(--size);
  background: url("../images/icons/plus.svg") center center no-repeat;
  /* background:  var(--main); */
  background-size: var(--size);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  filter: brightness(1) invert(0);
  -webkit-filter: brightness(1) invert(0);
}

.FAQ .accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1);
  transform: rotate(-135deg);
}

/* ---- download app ---- */
.get-app .wrapper {
  padding: 5rem;
  padding-bottom: 0;
  background: linear-gradient(
    135deg,
    #283459 0%,
    #263255 14.29%,
    #242f52 28.57%,
    #222d4e 42.86%,
    #202a4b 57.14%,
    #1e2847 71.43%,
    #1c2543 85.71%,
    #1a2340 100%
  );
  border-radius: 1.875rem;
  -webkit-border-radius: 1.875rem;
  -moz-border-radius: 1.875rem;
  -ms-border-radius: 1.875rem;
  -o-border-radius: 1.875rem;
}
.get-app * {
  color: var(--white) !important;
}

/* ---- footer ---- */
/* footer links */
.main-footer {
  background: url("../images/footer-bg.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 2rem;
}
.main-footer .footer-brand {
  width: 4.5rem;
}

.main-footer .footer-heading {
  color: var(--main);
  margin-bottom: 1rem;
  font-weight: 900;
  font-size: 1.25rem;
}

.main-footer .footer-heading + nav li {
  padding: 0.45rem 0;
}

.sub-footer {
  border-top: 0.8px solid var(--gray-100, #f3f4f6);
  padding-top: 2rem;
  text-align: center;
  font-size: 0.875rem;
  color: var(--main);
}

.policy-wrapper {
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  gap: 1rem;
  align-self: stretch;
  border-radius: 1.875rem;
  background: #f7f7f7;
}
.policy-wrapper .terms-list ul {
  list-style: disc;
  padding-inline-start: 1rem;
  display: flex;
  flex-direction: column;
  gap: .7rem;
}

.policy-wrapper .terms-list li {
  color: #2a2a28;
  font-size: 1.25rem;
  font-weight: 300;
}

/* tablet responsive */
@media (max-width: 992px) {
  .container-fluid {
    --bs-gutter-x: 1.5rem;
  }
  .navbar-wrapper {
    width: 100%;
  }
  .navbar-wrapper,
  nav.navbar > .container-fluid {
    flex-direction: row-reverse;
  }
  nav .navbar-nav {
    gap: 0.5rem;
    margin-inline: 0.25rem !important;
  }
  .navbar-wrapper:has(.collapse.show) {
    border-radius: 1.75rem;
    -webkit-border-radius: 1.75rem;
    -moz-border-radius: 1.75rem;
    -ms-border-radius: 1.75rem;
    -o-border-radius: 1.75rem;
  }
  .navbar .nav-link {
    padding-block: 0.15rem;
  }
  .navbar-collapse {
    margin-bottom: 1rem;
  }
  .navbar-toggler {
    padding: 0;
    border: unset;
    box-shadow: unset !important;
  }
  .navbar-toggler-icon {
    width: 2em;
    height: 2em;
    margin-inline-end: 0.75rem;
  }

  .heroWrapper {
    padding-inline: 1.75rem;
  }

  .about .card {
    transform: rotate(0deg) !important;
    -webkit-transform: rotate(0deg) !important;
    -moz-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
    -o-transform: rotate(0deg) !important;
  }

  .get-app .wrapper {
    padding: 0rem 2.75rem 0 2.75rem !important;
  }
  .features .features_wrapper .mobile-screen {
    grid-row: span 2;
    grid-column: span 18;
  }

  .features .features_wrapper .mobile-screen .screens {
    width: 50%;
    margin: auto;
  }

  .features .feature {
    grid-column: span 9;
  }

  .feature {
    order: 1;
  }

  .mobile-screen {
    order: 2;
  }
}
@media (max-width: 992px) and (min-width: 767.8px) {
  .heroSec {
    padding-bottom: 5rem;
  }
}

/* mobile responsive */
@media (max-width: 576px) {
  :root {
    --bs-gutter-x: 0.75rem;
  }
  .container-fluid {
    --bs-gutter-x: 0.75rem;
  }
  .navbar-wrapper {
    width: 94%;
  }
  .navbar .nav-link {
    width: fit-content;
  }

  .heroWrapper {
    padding-bottom: 0;
  }

  .features .features_wrapper {
    grid-template-columns: repeat(9, 1fr);
  }

  .features .features_wrapper .mobile-screen {
    grid-row: span 2;
    grid-column: span 9;
  }

  .features .features_wrapper .mobile-screen .screens {
    width: 80%;
    margin: auto;
  }

  .breadcrumbs .breadcrumb-wrapper {
    padding: 3rem 1.75rem;
  }

  .heroSec .heroTitle,
  .heroSec .heroDesc {
    font-size: 1.5rem;
  }

  .scrollUp {
    bottom: 190px;
    inset-inline-end: 1rem;
  }
  .scrollUp.whatsapp {
    bottom: 120px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 2400px) {
  html {
    font-size: 28px;
  }
}
